<% var leagueData = d.summonerLeagueData[d.summonerId] %>
<% if(leagueData) { %>
    <% var divisionData = _.findWhere(leagueData[0].entries, {playerOrTeamId: leagueData[0].participantId}) %>
<%}%>
<article class="card">
    <header class="card__thumb">
        <img class="last_played_champion" src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/<%=d.lastPlayedChampion%>_0.jpg">
    </header>
    <div class="left_panel_container card__thumb">
        <img class="summoner_icon" src="http://ddragon.leagueoflegends.com/cdn/<%=d.championsList.latestVersion%>/img/profileicon/<%=d.profileIconId%>.png">

        <div class="card__level_container">
            <span class="card__round_info_number"><%=d.summonerLevel%></span>
            <span class="card__round_info_title">Lvl</span>
        </div>

        <div class="card__kda_container">
            <span class="card__round_info_number"><%=d.averageKDA%></span>
            <span class="card__round_info_title">KDA</span>
        </div>
    </div>

    <div class="card__tier">
        <% if(leagueData) { %>
            <img src="../../public/images/tier/<%= leagueData[0].tier %>_<%=divisionData.division%>.png">
        <% } else { %>
            <img src="../../public/images/tier/unknown.png">
        <% } %>
    </div>

    <div class="card__body">
        <div class="summoner__name"><%=d.summonerName%></div>
        <!--<div class="card__title"><a href="#">Vivamus elementum semper nisivi troscup</a></div>-->
        <div class="card__subtitle">
            <table width="100%" class="summonerShortStatistics">
                <% var rankedGamesSolo5x5 = _.findWhere(d.summonerSummaryData, {playerStatSummaryType: 'RankedSolo5x5'}) %>
                <% if(rankedGamesSolo5x5) { %>
                <tr>
                    <td>
                        <div>RANKED SOLO 5x5</div>
                    </td>
                    <td align="right">
                        <div class="rankedStatistics">
                            <div class="win">
                                <%= rankedGamesSolo5x5.wins %>
                                <div class="redFlag"></div>
                            </div>
                            <div class="defeat">
                                <% if(rankedGamesSolo5x5) { %>
                                <%=rankedGamesSolo5x5.losses%>
                                <div class="blackFlag"></div>
                                <% } %>
                            </div>
                        </div>
                    </td>
                </tr>
                <% } %>
                <tr>
                    <td>
                        <div>NORMAL 5x5</div>
                    </td>
                    <td align="right">
                        <div class="unRankedStatistics">
                            <div class="win">
                                <% var unRankedGamesSolo5x5 = _.findWhere(d.summonerSummaryData, {playerStatSummaryType: 'Unranked'}) %>
                                <%=unRankedGamesSolo5x5.wins%>
                                <div class="redFlag"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <p class="card__description">
            <% if(leagueData) { %>
                <%= leagueData[0].tier %> <%=divisionData.division%>, <%=leagueData[0].name%>.
                <% if(divisionData.miniSeries) { %>
                    <br> Series in progress: <%=divisionData.miniSeries.progress%>
                <% } else { %>
                    <%=divisionData.leaguePoints%> league points
                <% } %>
            <% } %>

            <br>Top champions:<br>
            <% _.each(d.topChampionsByName, function(i) { %>
                <span class="top__champion_container">
                    <img class="top__champion" src="http://ddragon.leagueoflegends.com/cdn/<%=d.championsList.latestVersion%>/img/champion/<%-i.name%>.png">
                    <span class="champion__level_wrapper">
                        <span class="champion__level"><%-i.level%></span>
                    </span>
                </span>
            <% }) %>
        </p>
    </div>
    <footer class="card__footer">
        <div class="icon--time"></div>
        <div>last time played, <%=d.lastTimePlayedHuman%> ago with <b><%=d.lastPlayedChampion%></b></div>
    </footer>
</article>